body {
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #eee;
    color: #536573

}
.logo{
    padding-top: 50px;
}
.form-signin {
    max-width: 450px;
    padding: 30px 38px 66px;
    margin: 0 auto;
    border: 1px solid #c9c9c9;
    border-radius: 3px;
    background: #ffffff;
}
.form-control {
    position: relative;
    height: auto;
    padding: 10px;
    border: 1px solid #dcdcdc;
    background: #fbfbfb;
    padding-left: 17px;
    padding-right: 17px;
    font-size: 14px;
}
#signInButton{
    border-radius: 3px !important;
}
#helperBlock{
    margin-top: 20px;
}
input[type="text"] {
    margin-bottom: 20px;
}
input[type="password"] {
    margin-bottom: 20px;
}
input[type="checkbox"] + label {
    vertical-align: bottom !important;
    font-size: 15px !important;
    font-weight: normal;
    margin-bottom: 1px;
}
#wrapper, #wrapper.toggled{
    margin-left:0px !important;
    padding-left:0px !important;
    margin-top: 1%;
}
/*
.login-block {
background-color: #F2F2F2;
}
.login {
margin-top: 5%;
border: 2px solid;
border-color: #e5e5e5;
}*/