@charset "utf-8";
/*------------------------------------------------------

	Theme Name: Encore - html - v.1
	Type: Layout css
	Author: unlimitDesign
	Author URI: http://udthemes.com

/*------------------------------------------------------

	CSS TOB: 

	1. RESETS
	2. COMMONS
	3. STRUCTURAL
	4. TYPO & LINKS
	5. MISC
		
---------------------------------------------------------*/

/*--------------------------------------------------------
	1.RESETS
--------------------------------------------------------*/
	
	
/*--------------------------------------------------------
	2.COMMONS
--------------------------------------------------------*/


	body{background:#fff;font:13px/18px Arial, Helvetica, sans-serif;}
	

/*--------------------------------------------------------
	3.STRUCTURAL 
--------------------------------------------------------*/


	/*----------------------------
	i.-- Page Structure
	-----------------------------*/
	
	/*homepage*/
	.homepage{color:#fff; font:15px/18px Arial, Helvetica, sans-serif;padding-top:0 !important; display:table; margin:auto;overflow:hidden;}
	.homepage .content{max-width:870px;margin:auto;padding-bottom:0px; display:table-cell; vertical-align:middle; opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";}
	
	/*pages*/
	.page{overflow:hidden; width:100%; position:relative;}
	.page .content{margin:auto}
	.page .content.centeralign{text-align:center;}

		/*odd*/
		.page.odd{background:#fff;color:#888;}
		
		/*even*/
		.page.even{background:#fff url(../images/pattern-page-odd.png) repeat;color:#888;}
	
	

	/*----------------------------
	ii.-- Header
	-----------------------------*/
	
	/*homepage*/
	.logo-homepage{width:144px;height:39px;margin-bottom:40px;}
	
	/*inner pages*/
	.header{width:100%; height:50px; line-height:50px; background: #fff; position:fixed; top:0; z-index:50;-moz-box-shadow: 10px 10px 8px #ccc;
-webkit-box-shadow: 10px 10px 8px #ccc;box-shadow: 0px 0px 8px #ccc;}
	.header.header-main{display:none;}
	.header.mobileHeader{position:relative; display:block;} /*mobile header - pos relative for mobiles that do not handle fixed*/
	.header .inner {max-width:870px;margin:auto;}
	.header .logo-pages{height:50px; position:relative;float:left;}
	.header .logo-pages .logo{position:relative; bottom:0;}
	
	
		/* main menu
		----------------------------*/
		
		.header .inner ul.navigation{list-style:none;float:right; font-family:Arial, Helvetica, sans-serif;font-size:14px;margin:0;}
		.header .inner ul.navigation li{float:left;padding:0 5px;}
		.header .inner ul.navigation li:last-child{padding-right:0;}
		.header .inner ul.navigation li a{font-family: 'Open Sans', sans-serif;color:#ccc; text-decoration:none;  padding: 5px 10px;}
		.header .inner ul.navigation li a:hover{color:#e70000;}
		.header .inner ul.navigation li a.active{-webkit-border-radius: 5px; -moz-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; padding: 5px 10px;background:#333; color: #EEEEEE; padding: 5px 10px;text-decoration: none;}
			

		/* mobile menu toggle
		----------------------------*/	
		
		.header .inner .mobileMenuToggle{height:26px;width:100%;float:left;text-align:center;display:none;margin:19px auto 15px auto;}
		.header .inner .mobileMenuToggle a,.header .mobileMenuToggle.open a{width:26px;height:26px;float:left;position:relative;left:50%; margin-left:-13px;}
		.header .inner .mobileMenuToggle a{background:url(../img/mobileMenu-toggle.png) center 0 no-repeat;}
		.header .inner .mobileMenuToggle.open a{background:url(../img/mobileMenu-toggle.png) center -26px no-repeat;}

		
		.page{ overflow:hidden;width:100%; position:relative;}
		.page .content{max-width:870px;}
		.page .content.centeralign{text-align:center;}
		#wrapper{
			min-height:100%;
			margin-bottom:-130px;
			padding-bottom:35px;
		}
		#contentDiv {
			min-height:100%;
			
			
		}
	/*footer
	----------------------------*/	
	#footer{position:relative;background:url(../img/pattern-footer.png);  padding:50px 0; z-index:1;bottom:0; width:100%;}
	#footer .content{max-width:870px;margin:auto;text-align:center;display: table;white-space:nowrap;}
	/* #footer .content .logo{margin-bottom:8px;}
	#footer p.copyright{margin-bottom:20px;}
	#footer #social-share{width:200px;text-align:center;padding-left:40px;}
	#footer #social-share .twitter-share-button{width:100px !important;}

		
		#footer.odd{background:url(../img/pattern-footer.png) repeat;}*/
		#footer.odd p.copyright a{font:12px/14px Arial, Helvetica, sans-serif;color:#E70000;}
		/*
		
		#footer.even{background:url(../img/pattern-footer.png) repeat;}
		#footer.even p.copyright{font:12px/14px Arial, Helvetica, sans-serif;color:#555;}
*/

	
	
/*--------------------------------------------------------
	v.--MISC
--------------------------------------------------------*/		
		
/*	.clearfix:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}*/
	.left{float:left !important;}
	.right{float:right !important;}
	.last{margin:0 !important;}
				
	