
body{
    font-size:13px;
    font-family:"Arial";
}
#mapper{
    border:1px solid #000;
    width:10px;
    height: 10px;
    min-width:10px;
    min-height:10px;
    z-index:1000;
    position:absolute;
    top:0;
    display:none;
}

#planetmap div{

    display:block;
    position:absolute;
}




#main_panel{
    margin: auto;
    padding: 10px;
    width: 1000px;
}
#url_panel{

}
#form_panel{
    float: left;
    background:#eee;
    border:5px solid #FFF;
    outline:1px solid #eee;
    left: 100px;
    padding: 5px;
    position: absolute;
    top: 40px;
    width: 310px;
    display:none;
    z-index:2000;
}

#form_panel input,textarea{
    padding:3px;
    background:#FFF;
    border:1px solid #CFCFCF;
    color:#000;
}

#image_panel{
    float:left;
    width:600px;
    position:relative;
}
#image_panel img{
    left:0;top:-102px;
    max-width: 600px;
    overflow: hidden;

}


#form_panel .label{
    float:left;
    width:80px;
    padding:5px;
}

#form_panel .field{
    float:left;
    width:200px;
    padding:5px;
}

#form_panel .row{
    clear:both;
}

.tagged_title_beacons{
    background: none repeat scroll 0 0 #F00;
    border: 1px solid;
    color: #000;
    font-size: 12px;
    /*font-weight: bold;*/
    padding: 2px;
    margin-top:5px;
}

.tagged_title_products{
    background: none repeat scroll 0 0 #EB5D6C;
    border: 1px solid;
    color: #000;
    font-size: 12px;
    /*font-weight: bold;*/
    padding: 2px;
    margin-top:5px;
}

.tagged_title_pathNodes{
    background: none repeat scroll 0 0 #0F0;
    border: 1px solid;
    color: #000;
    font-size: 12px;
    /*font-weight: bold;*/
    padding: 2px;
    margin-top:5px;
}


#info_panel{
    padding:10px;
    margin:20px 0;
    background:#eee;
}


input[type='button']{
    background: none repeat scroll 0 0 #2769C4;
    border: 1px solid #CFCFCF;
    color: #FFFFFF;
    font-weight: bold;
    height: 30px;
    padding: 5px;
}