/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {

}




/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}


/*
 * Main content
 */

.main {
    padding: 20px;
}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}



.dashboard {
    margin-top: 10px;
    border: 2px solid;
    border-color: #e5e5e5;
}

.dashboardSideBar {
    padding: 0px;
    margin-top: 10px;
    margin-right: 10px;
    border-right: 2px solid;
    border-left: 2px solid;
    border-top: 2px solid;
    border-bottom: 1px solid;
    border-color: #e5e5e5;
}
.form-label {
    text-align: right;
    font-weight: bold;
    font-size: medium;
    color: #636669;
}

.form-display {
    font-weight: normal;
    font-size: medium;
    color: #000000;
}

.my-checkbox {
    opacity: 100;
    margin-bottom: 0px;
}

 input[type="checkbox"].custom-checkbox{
    opacity: 100;
    position: inherit;
    z-index: 0;
    width: 23px;
    height: 23px;
}

.jobtype {
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 2px;
    padding-right: 2px;
}

.jobtypetask {
    margin: 0px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 2px;
    padding-right: 1px;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    border-color: #DDDDDD;
    vertical-align: central;
}

.price-input {
    width: 50px;
}

.time-input {
    width: 40px;
}

.working-hours-span-editable {
    margin-top: 5px;
}

.working-hours-span-display {
    margin-top: 5px;
}
