/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 22, 2017, 12:13:18 AM
    Author     : chaithra
*/

.image__grid{
    list-style: none;
    padding: 25px 15px 10px 10px;
    margin: 0 0 10px 0;
    overflow: hidden;
    display : inline;
}
.single-image{
    width:300px;
}

@media (min-width:960px){
    .single-image{
        padding-bottom: 24px;
    }
}
@media (min-width: 768px) and (max-width:959px){
    .single-image{
        padding-bottom: 24px;
    }
}
@media (max-width: 768px) {
    .single-image{
        padding-right: 30px;
        margin-top: 20px;
    }
}
