#notificationWrapper{
	list-style:none;
	margin: 0px;
	padding: 0px;
	font-family:arial;
}
#notificationWrapper li {
	float: left;
	margin-right: 20px;
	font-size: 14px;
	font-weight:bold;
}
#notificationWrapper li a{color:#333333;text-decoration:none}
#notificationWrapper li a:hover{color:#006699;text-decoration:none}
#notification_li{position:relative}
#notificationContainer {
	background-color: #fafafa;
	border: 1px solid rgba(100, 100, 100, .4);
	-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
	overflow: visible;
	position: absolute;
	top: 58px;
	margin-left: -150px;
	width: 400px;
	z-index: 1000;
	display: none;
	-webkit-border-radius: 5px; -moz-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px;
}

#notificationContainer:before {
	content: '';
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	color: transparent;
	border: 10px solid black;
	border-color: transparent transparent white;
	margin-top: -20px;
	margin-left: 188px;
}
#notificationTitle {
	z-index: 1000;
	font-weight: bold;
	padding: 8px;
	font-size: 13px;
	background-color: #ffffff;
	color:#222;
	width: 398px;
	border-bottom: 1px solid #dddddd;
	text-align: left;
	line-height: 12px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-top-left-radius: 5px;
	-o-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-broder-top-right-radius: 5px;
	-o-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
}

#notificationsBody {
	min-height:20px;
	color:#555;
	text-align: left;
	
}
#notificationFooter {
	background-color: #f9fafd;
	text-align: center;
	font-weight: bold;
	padding: 7px;
	font-size: 12px;
	line-height: 10px;
	border-top:1px solid #dddddd;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-bottom-left-radius: 5px;
	-o-border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-broder-bottom-right-radius: 5px;
	-o-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
#notification_count {
	padding: 2px 6px 2px 6px;
	background: #E70000;
	color: #ffffff;
	font-weight: bold;
	margin-left: 90px;
	border-radius: 9px;
	position: absolute;
	margin-top: 8px;
	font-size: 11px;
	line-height: 10px;
}
.notificationBox{
	padding: 3px 3px 3px 20px;
	color: #000;
	background-color: #f6ffff;
	margin:2px;
	border-bottom: 1px solid #eeeeee;
}
@media only screen  and (max-width: 959px) {
	#notificationContainer{ float: none;}
}