.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.962500;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.953000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.945000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.968000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.995000;font-style:normal;font-weight:normal;visibility:visible;}
.m2{transform:matrix(0.000000,0.233309,-0.250000,0.000000,0,0);-ms-transform:matrix(0.000000,0.233309,-0.250000,0.000000,0,0);-webkit-transform:matrix(0.000000,0.233309,-0.250000,0.000000,0,0);}
.m4{transform:matrix(0.000000,-0.233310,0.250000,0.000000,0,0);-ms-transform:matrix(0.000000,-0.233310,0.250000,0.000000,0,0);-webkit-transform:matrix(0.000000,-0.233310,0.250000,0.000000,0,0);}
.m1{transform:matrix(0.233310,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.233310,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.233310,0.000000,0.000000,0.250000,0,0);}
.m3{transform:matrix(0.233310,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.233310,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.233310,0.000000,0.000000,0.250000,0,0);}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws2{word-spacing:-3.136000px;}
.ws1{word-spacing:-0.048000px;}
.ws0{word-spacing:0.000000px;}
._3{margin-left:-14.208000px;}
._5{margin-left:-9.661602px;}
._1{margin-left:-2.808000px;}
._0{margin-left:-1.800000px;}
._4{width:1.012000px;}
._2{width:3.984000px;}
.fc4{color:rgb(54,77,32);}
.fc0{color:rgb(25,110,99);}
.fc3{color:rgb(249,167,13);}
.fc1{color:rgb(253,221,16);}
.fc2{color:rgb(25,110,105);}
.fs7{font-size:40.000000px;}
.fs5{font-size:44.000000px;}
.fs1{font-size:48.000000px;}
.fs6{font-size:57.388400px;}
.fs9{font-size:79.147600px;}
.fs2{font-size:84.000000px;}
.fsb{font-size:84.380800px;}
.fs8{font-size:85.325600px;}
.fs4{font-size:99.275600px;}
.fs3{font-size:112.000000px;}
.fsa{font-size:126.774800px;}
.fs0{font-size:180.000000px;}
.y0{bottom:0.000000px;}
.ya0{bottom:4.689320px;}
.ya2{bottom:4.689500px;}
.y9d{bottom:5.055700px;}
.y9f{bottom:28.433600px;}
.ya4{bottom:58.839800px;}
.y9e{bottom:76.120100px;}
.ya1{bottom:116.248000px;}
.ya3{bottom:178.605500px;}
.y9c{bottom:203.330000px;}
.y9b{bottom:353.697200px;}
.ya5{bottom:397.650400px;}
.y98{bottom:440.818400px;}
.y97{bottom:464.818400px;}
.y96{bottom:476.818400px;}
.y9a{bottom:500.193200px;}
.y95{bottom:528.818400px;}
.y94{bottom:552.818400px;}
.y93{bottom:564.818400px;}
.y92{bottom:573.741200px;}
.y91{bottom:587.818400px;}
.y90{bottom:611.818400px;}
.y8f{bottom:623.818400px;}
.y8e{bottom:632.741200px;}
.y8d{bottom:646.818400px;}
.y8c{bottom:670.818400px;}
.y8b{bottom:682.818400px;}
.y8a{bottom:691.741200px;}
.y89{bottom:705.818400px;}
.y88{bottom:729.818400px;}
.y87{bottom:741.818400px;}
.y86{bottom:750.741200px;}
.y85{bottom:763.818400px;}
.y84{bottom:787.818400px;}
.y83{bottom:799.818400px;}
.y82{bottom:808.741200px;}
.y81{bottom:821.818400px;}
.y80{bottom:845.818400px;}
.y7f{bottom:857.818400px;}
.y7e{bottom:866.741200px;}
.y7d{bottom:880.818400px;}
.y7c{bottom:904.818400px;}
.y7b{bottom:913.741200px;}
.y7a{bottom:927.485400px;}
.y79{bottom:951.485400px;}
.y78{bottom:959.408200px;}
.y77{bottom:971.488400px;}
.y76{bottom:995.488400px;}
.y75{bottom:1007.488400px;}
.y6a{bottom:1017.413100px;}
.y74{bottom:1029.488400px;}
.y73{bottom:1053.488400px;}
.y72{bottom:1065.488400px;}
.y71{bottom:1077.488400px;}
.y69{bottom:1084.403100px;}
.y70{bottom:1100.818400px;}
.y6f{bottom:1124.818400px;}
.y6e{bottom:1136.818400px;}
.y68{bottom:1145.786100px;}
.y6d{bottom:1160.818400px;}
.y6c{bottom:1184.818400px;}
.y6b{bottom:1196.818400px;}
.y1a{bottom:1762.333000px;}
.y1b{bottom:1762.862300px;}
.y1c{bottom:1793.054700px;}
.y99{bottom:1808.199200px;}
.y67{bottom:1827.844700px;}
.y66{bottom:1851.844700px;}
.y65{bottom:1863.844700px;}
.y64{bottom:1872.767600px;}
.y63{bottom:1885.844700px;}
.y62{bottom:1909.844700px;}
.y61{bottom:1921.844700px;}
.y60{bottom:1930.767600px;}
.y5f{bottom:1943.844700px;}
.y5e{bottom:1967.844700px;}
.y5d{bottom:1979.844700px;}
.y5c{bottom:1988.767600px;}
.y5b{bottom:2002.844700px;}
.y5a{bottom:2026.844700px;}
.y59{bottom:2035.767600px;}
.y58{bottom:2049.511700px;}
.y57{bottom:2073.511700px;}
.y56{bottom:2081.434600px;}
.y55{bottom:2093.514700px;}
.y54{bottom:2117.514700px;}
.y53{bottom:2129.514700px;}
.y48{bottom:2139.449200px;}
.y52{bottom:2151.514700px;}
.y51{bottom:2175.514700px;}
.y50{bottom:2187.514700px;}
.y4f{bottom:2199.514700px;}
.y47{bottom:2206.439200px;}
.y4e{bottom:2222.844700px;}
.y4d{bottom:2246.844700px;}
.y4c{bottom:2258.844700px;}
.y46{bottom:2267.822200px;}
.y4b{bottom:2282.844700px;}
.y4a{bottom:2306.844700px;}
.y49{bottom:2318.844700px;}
.y17{bottom:2890.883800px;}
.y18{bottom:2891.413100px;}
.y19{bottom:2921.605500px;}
.y45{bottom:2932.199200px;}
.y44{bottom:2953.844700px;}
.y43{bottom:2977.844700px;}
.y42{bottom:2989.844700px;}
.y41{bottom:2998.767600px;}
.y40{bottom:3012.844700px;}
.y3f{bottom:3036.844700px;}
.y3e{bottom:3045.767600px;}
.y3d{bottom:3059.510700px;}
.y3c{bottom:3083.510700px;}
.y3b{bottom:3091.434600px;}
.y3a{bottom:3103.514700px;}
.y39{bottom:3127.514700px;}
.y38{bottom:3139.514700px;}
.y2d{bottom:3149.439500px;}
.y37{bottom:3161.514700px;}
.y36{bottom:3185.514700px;}
.y35{bottom:3197.514700px;}
.y34{bottom:3209.514700px;}
.y2c{bottom:3216.429500px;}
.y33{bottom:3232.844700px;}
.y32{bottom:3256.844700px;}
.y31{bottom:3268.844700px;}
.y2b{bottom:3277.812500px;}
.y30{bottom:3292.844700px;}
.y2f{bottom:3316.844700px;}
.y2e{bottom:3328.844700px;}
.y14{bottom:3902.339800px;}
.y15{bottom:3902.869100px;}
.y16{bottom:3933.061500px;}
.yc{bottom:3943.669900px;}
.y2a{bottom:3962.971800px;}
.y29{bottom:3986.971800px;}
.y28{bottom:3998.971800px;}
.y10{bottom:4006.879900px;}
.y27{bottom:4020.971800px;}
.y26{bottom:4044.971800px;}
.y25{bottom:4056.971800px;}
.y24{bottom:4068.971800px;}
.yf{bottom:4075.885900px;}
.y23{bottom:4092.301800px;}
.y22{bottom:4116.301800px;}
.y21{bottom:4128.301800px;}
.ye{bottom:4137.268900px;}
.y20{bottom:4152.301800px;}
.y1f{bottom:4176.301800px;}
.y1e{bottom:4188.301800px;}
.y11{bottom:4751.084000px;}
.y12{bottom:4751.613300px;}
.yd{bottom:4781.737900px;}
.y13{bottom:4781.805700px;}
.yb{bottom:4807.149400px;}
.ya{bottom:4821.549400px;}
.y9{bottom:4835.949400px;}
.y8{bottom:4850.349400px;}
.y7{bottom:4864.749400px;}
.y6{bottom:4893.549400px;}
.y5{bottom:4907.949400px;}
.y4{bottom:4922.349400px;}
.y3{bottom:4936.749400px;}
.y2{bottom:4951.149400px;}
.y1{bottom:4997.831100px;}
.y1d{bottom:5093.531200px;}
.he{height:21.815000px;}
.ha{height:23.518000px;}
.h8{height:30.940000px;}
.h9{height:31.540000px;}
.h6{height:34.034000px;}
.h2{height:37.488000px;}
.hc{height:45.558900px;}
.h7{height:49.296636px;}
.hd{height:60.389619px;}
.h3{height:64.974000px;}
.hb{height:65.103433px;}
.h10{height:65.268549px;}
.h5{height:76.789677px;}
.h4{height:86.632000px;}
.hf{height:98.060308px;}
.h1{height:140.580000px;}
.h0{height:7558.000000px;}
.w4{width:39.396000px;}
.w5{width:40.523000px;}
.w1{width:59.300000px;}
.w2{width:93.514000px;}
.w3{width:126.832000px;}
.w0{width:1025.000000px;}
.x0{left:0.000000px;}
.x1d{left:22.616527px;}
.x9{left:41.805700px;}
.x18{left:225.570800px;}
.x17{left:237.840800px;}
.x2{left:239.023400px;}
.x3{left:240.583400px;}
.x6{left:242.263400px;}
.x16{left:253.320800px;}
.xa{left:255.325910px;}
.x7{left:261.991400px;}
.x10{left:269.613300px;}
.x4{left:283.363400px;}
.x13{left:305.613300px;}
.x5{left:310.567400px;}
.xd{left:316.613300px;}
.x1{left:338.924300px;}
.x8{left:344.731400px;}
.x1c{left:360.787000px;}
.x1a{left:392.126000px;}
.x19{left:395.950800px;}
.x21{left:417.407700px;}
.x14{left:508.389600px;}
.xf{left:519.389600px;}
.xc{left:521.389600px;}
.x20{left:525.649400px;}
.xe{left:539.341800px;}
.xb{left:541.341800px;}
.x1e{left:546.873000px;}
.x12{left:552.389600px;}
.x1b{left:560.888000px;}
.x11{left:572.341800px;}
.x1f{left:624.711000px;}
.x15{left:706.563000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws2{word-spacing:-4.181333pt;}
.ws1{word-spacing:-0.064000pt;}
.ws0{word-spacing:0.000000pt;}
._3{margin-left:-18.944000pt;}
._5{margin-left:-12.882135pt;}
._1{margin-left:-3.744000pt;}
._0{margin-left:-2.400000pt;}
._4{width:1.349333pt;}
._2{width:5.312000pt;}
.fs7{font-size:53.333333pt;}
.fs5{font-size:58.666667pt;}
.fs1{font-size:64.000000pt;}
.fs6{font-size:76.517867pt;}
.fs9{font-size:105.530133pt;}
.fs2{font-size:112.000000pt;}
.fsb{font-size:112.507733pt;}
.fs8{font-size:113.767467pt;}
.fs4{font-size:132.367467pt;}
.fs3{font-size:149.333333pt;}
.fsa{font-size:169.033067pt;}
.fs0{font-size:240.000000pt;}
.y0{bottom:0.000000pt;}
.ya0{bottom:6.252427pt;}
.ya2{bottom:6.252667pt;}
.y9d{bottom:6.740933pt;}
.y9f{bottom:37.911467pt;}
.ya4{bottom:78.453067pt;}
.y9e{bottom:101.493467pt;}
.ya1{bottom:154.997333pt;}
.ya3{bottom:238.140667pt;}
.y9c{bottom:271.106667pt;}
.y9b{bottom:471.596267pt;}
.ya5{bottom:530.200533pt;}
.y98{bottom:587.757867pt;}
.y97{bottom:619.757867pt;}
.y96{bottom:635.757867pt;}
.y9a{bottom:666.924267pt;}
.y95{bottom:705.091200pt;}
.y94{bottom:737.091200pt;}
.y93{bottom:753.091200pt;}
.y92{bottom:764.988267pt;}
.y91{bottom:783.757867pt;}
.y90{bottom:815.757867pt;}
.y8f{bottom:831.757867pt;}
.y8e{bottom:843.654933pt;}
.y8d{bottom:862.424533pt;}
.y8c{bottom:894.424533pt;}
.y8b{bottom:910.424533pt;}
.y8a{bottom:922.321600pt;}
.y89{bottom:941.091200pt;}
.y88{bottom:973.091200pt;}
.y87{bottom:989.091200pt;}
.y86{bottom:1000.988267pt;}
.y85{bottom:1018.424533pt;}
.y84{bottom:1050.424533pt;}
.y83{bottom:1066.424533pt;}
.y82{bottom:1078.321600pt;}
.y81{bottom:1095.757867pt;}
.y80{bottom:1127.757867pt;}
.y7f{bottom:1143.757867pt;}
.y7e{bottom:1155.654933pt;}
.y7d{bottom:1174.424533pt;}
.y7c{bottom:1206.424533pt;}
.y7b{bottom:1218.321600pt;}
.y7a{bottom:1236.647200pt;}
.y79{bottom:1268.647200pt;}
.y78{bottom:1279.210933pt;}
.y77{bottom:1295.317867pt;}
.y76{bottom:1327.317867pt;}
.y75{bottom:1343.317867pt;}
.y6a{bottom:1356.550800pt;}
.y74{bottom:1372.651200pt;}
.y73{bottom:1404.651200pt;}
.y72{bottom:1420.651200pt;}
.y71{bottom:1436.651200pt;}
.y69{bottom:1445.870800pt;}
.y70{bottom:1467.757867pt;}
.y6f{bottom:1499.757867pt;}
.y6e{bottom:1515.757867pt;}
.y68{bottom:1527.714800pt;}
.y6d{bottom:1547.757867pt;}
.y6c{bottom:1579.757867pt;}
.y6b{bottom:1595.757867pt;}
.y1a{bottom:2349.777333pt;}
.y1b{bottom:2350.483067pt;}
.y1c{bottom:2390.739600pt;}
.y99{bottom:2410.932267pt;}
.y67{bottom:2437.126267pt;}
.y66{bottom:2469.126267pt;}
.y65{bottom:2485.126267pt;}
.y64{bottom:2497.023467pt;}
.y63{bottom:2514.459600pt;}
.y62{bottom:2546.459600pt;}
.y61{bottom:2562.459600pt;}
.y60{bottom:2574.356800pt;}
.y5f{bottom:2591.792933pt;}
.y5e{bottom:2623.792933pt;}
.y5d{bottom:2639.792933pt;}
.y5c{bottom:2651.690133pt;}
.y5b{bottom:2670.459600pt;}
.y5a{bottom:2702.459600pt;}
.y59{bottom:2714.356800pt;}
.y58{bottom:2732.682267pt;}
.y57{bottom:2764.682267pt;}
.y56{bottom:2775.246133pt;}
.y55{bottom:2791.352933pt;}
.y54{bottom:2823.352933pt;}
.y53{bottom:2839.352933pt;}
.y48{bottom:2852.598933pt;}
.y52{bottom:2868.686267pt;}
.y51{bottom:2900.686267pt;}
.y50{bottom:2916.686267pt;}
.y4f{bottom:2932.686267pt;}
.y47{bottom:2941.918933pt;}
.y4e{bottom:2963.792933pt;}
.y4d{bottom:2995.792933pt;}
.y4c{bottom:3011.792933pt;}
.y46{bottom:3023.762933pt;}
.y4b{bottom:3043.792933pt;}
.y4a{bottom:3075.792933pt;}
.y49{bottom:3091.792933pt;}
.y17{bottom:3854.511733pt;}
.y18{bottom:3855.217467pt;}
.y19{bottom:3895.474000pt;}
.y45{bottom:3909.598933pt;}
.y44{bottom:3938.459600pt;}
.y43{bottom:3970.459600pt;}
.y42{bottom:3986.459600pt;}
.y41{bottom:3998.356800pt;}
.y40{bottom:4017.126267pt;}
.y3f{bottom:4049.126267pt;}
.y3e{bottom:4061.023467pt;}
.y3d{bottom:4079.347600pt;}
.y3c{bottom:4111.347600pt;}
.y3b{bottom:4121.912800pt;}
.y3a{bottom:4138.019600pt;}
.y39{bottom:4170.019600pt;}
.y38{bottom:4186.019600pt;}
.y2d{bottom:4199.252667pt;}
.y37{bottom:4215.352933pt;}
.y36{bottom:4247.352933pt;}
.y35{bottom:4263.352933pt;}
.y34{bottom:4279.352933pt;}
.y2c{bottom:4288.572667pt;}
.y33{bottom:4310.459600pt;}
.y32{bottom:4342.459600pt;}
.y31{bottom:4358.459600pt;}
.y2b{bottom:4370.416667pt;}
.y30{bottom:4390.459600pt;}
.y2f{bottom:4422.459600pt;}
.y2e{bottom:4438.459600pt;}
.y14{bottom:5203.119733pt;}
.y15{bottom:5203.825467pt;}
.y16{bottom:5244.082000pt;}
.yc{bottom:5258.226533pt;}
.y2a{bottom:5283.962400pt;}
.y29{bottom:5315.962400pt;}
.y28{bottom:5331.962400pt;}
.y10{bottom:5342.506533pt;}
.y27{bottom:5361.295733pt;}
.y26{bottom:5393.295733pt;}
.y25{bottom:5409.295733pt;}
.y24{bottom:5425.295733pt;}
.yf{bottom:5434.514533pt;}
.y23{bottom:5456.402400pt;}
.y22{bottom:5488.402400pt;}
.y21{bottom:5504.402400pt;}
.ye{bottom:5516.358533pt;}
.y20{bottom:5536.402400pt;}
.y1f{bottom:5568.402400pt;}
.y1e{bottom:5584.402400pt;}
.y11{bottom:6334.778667pt;}
.y12{bottom:6335.484400pt;}
.yd{bottom:6375.650533pt;}
.y13{bottom:6375.740933pt;}
.yb{bottom:6409.532533pt;}
.ya{bottom:6428.732533pt;}
.y9{bottom:6447.932533pt;}
.y8{bottom:6467.132533pt;}
.y7{bottom:6486.332533pt;}
.y6{bottom:6524.732533pt;}
.y5{bottom:6543.932533pt;}
.y4{bottom:6563.132533pt;}
.y3{bottom:6582.332533pt;}
.y2{bottom:6601.532533pt;}
.y1{bottom:6663.774800pt;}
.y1d{bottom:6791.374933pt;}
.he{height:29.086667pt;}
.ha{height:31.357333pt;}
.h8{height:41.253333pt;}
.h9{height:42.053333pt;}
.h6{height:45.378667pt;}
.h2{height:49.984000pt;}
.hc{height:60.745200pt;}
.h7{height:65.728847pt;}
.hd{height:80.519492pt;}
.h3{height:86.632000pt;}
.hb{height:86.804577pt;}
.h10{height:87.024732pt;}
.h5{height:102.386235pt;}
.h4{height:115.509333pt;}
.hf{height:130.747077pt;}
.h1{height:187.440000pt;}
.h0{height:7588.00000pt;}
.w4{width:52.528000pt;}
.w5{width:54.030667pt;}
.w1{width:79.066667pt;}
.w2{width:124.685333pt;}
.w3{width:169.109333pt;}
.w0{width:1366.666667pt;}
.x0{left:0.000000pt;}
.x1d{left:30.155369pt;}
.x9{left:55.740933pt;}
.x18{left:300.761067pt;}
.x17{left:317.121067pt;}
.x2{left:318.697867pt;}
.x3{left:320.777867pt;}
.x6{left:323.017867pt;}
.x16{left:337.761067pt;}
.xa{left:340.434547pt;}
.x7{left:349.321867pt;}
.x10{left:359.484400pt;}
.x4{left:377.817867pt;}
.x13{left:407.484400pt;}
.x5{left:414.089867pt;}
.xd{left:422.151067pt;}
.x1{left:451.899067pt;}
.x8{left:459.641867pt;}
.x1c{left:481.049333pt;}
.x1a{left:522.834667pt;}
.x19{left:527.934400pt;}
.x21{left:556.543600pt;}
.x14{left:677.852800pt;}
.xf{left:692.519467pt;}
.xc{left:695.186133pt;}
.x20{left:700.865867pt;}
.xe{left:719.122400pt;}
.xb{left:721.789067pt;}
.x1e{left:729.164000pt;}
.x12{left:736.519467pt;}
.x1b{left:747.850667pt;}
.x11{left:763.122400pt;}
.x1f{left:832.948000pt;}
.x15{left:942.084000pt;}
}
