<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
 

<title>InstaGenie - Coming Soon</title> 

<link rel="stylesheet" href="./index_files/style.css" type="text/css" media="screen">
<link rel="stylesheet" href="./index_files/template-changer.css" type="text/css" media="screen">

<script type="text/javascript" src="./index_files/jquery-1.7.min.js"></script>
<script type="text/javascript" src="./index_files/jquery.countdown.js"></script>
<script type="text/javascript" src="./index_files/jquery.tipsy.js"></script>
<script type="text/javascript" src="./index_files/jquery.subscribe.js"></script>
<script type="text/javascript" src="./index_files/jquery.contact.js"></script>
<script type="text/javascript" src="./index_files/styleswitch.js"></script>
<script type="text/javascript" src="./index_files/template-changer.js"></script>
<script type="text/javascript" src="./index_files/custom.js"></script>

</head> 
 
<body>
Something Cool is Coming Soon!
</body></html>